.conteneur {
    -fx-border-width:10;
}

#vue-racine {
    -fx-border-color:darkred;
}
#vue-file-attente {
    -fx-border-color:darkblue;
     -fx-alignment:center;
}
.gros-bouton {
    -fx-font-size: 1.2em;
}

.gros-bouton:pressed {
    -fx-font-size: 1em;
}

.gros-bouton:hover {
    -fx-cursor: hand;
}
#vue-partie {
    -fx-border-color:darkgreen;
}