.conteneur {
    -fx-border-width:10;
    
}

#vue-racine {
    -fx-border-color:darkred;
}
#VueAccueil {
    -fx-border-color:darkblue;
     -fx-alignment:center;
}
#labelChessQC{
	 	    -fx-font-weight: bold;
  -fx-font: 30px Tahoma;


}
.logo {
    -fx-min-width:50px;
    -fx-max-width:300px;

    -fx-min-height:50px;
    -fx-max-height:300px;
}

#boutonIncrire {
	
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
   -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: white;
}
#boutonIncrire:hover {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}
#boutonIncrire:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.petit-espace-vertical {
    -fx-min-height:10;
    -fx-max-height:50;
    -fx-background-color:pink;
    -fx-opacity:0.2;
}

.grand-espace-vertical {
    -fx-min-height:50;
    -fx-max-height:200;
    -fx-background-color:pink;
    -fx-opacity:0.2;
}

.petit-espace-horizontal {
    -fx-min-width:10;
    -fx-max-width:50;
    -fx-background-color:pink;
    -fx-opacity:0.2;
}

.grand-espace-horizontal {
    -fx-min-width:50;
    -fx-max-width:200;
    -fx-background-color:pink;
    -fx-opacity:0.2;
}

.conteneur-parent{
    -fx-border-color:black;
}

#conteneur-PartieEnCours{
    -fx-min-height:100; 
    -fx-min-width:100;
    -fx-alignment:top-center;
}
