.conteneur {
    -fx-border-width: 10;
}

#vue-racine {

}

#VueAccueil {
	-fx-background-color: lightgrey;
	     -fx-alignment:center;
}


#labelChessQC {
	-fx-font-weight: bold;
	-fx-font: 30px Tahoma;
}
#labelInstruction {
	-fx-font-weight: bold;
	-fx-font: 15px Tahoma;
}




.gros-bouton{
	-fx-padding: 8 15 15 15;
	-fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
	-fx-background-radius: 8;
	-fx-background-color: 
		#090a0c,
		linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
		linear-gradient(#20262b, #191d22),
		radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
	-fx-font-weight: bold;
	-fx-font-size: 1.1em;
	-fx-text-fill: white;
}

.gros-bouton {
	-fx-background-color: 
		#090a0c,
		linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
		linear-gradient(#20262b, #191d22),
		radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}

.gros-bouton:pressed {
	-fx-padding: 10 15 13 15;
	-fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
